ansiwrap==0.8.4
appdirs==1.4.4
audioread==2.1.9
biopython==1.79
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
colorama==0.4.4
Cython==0.29.30
dataclassy==0.11.1
decorator==5.1.1
docopt==0.6.2
greenlet==1.1.2
idna==3.3
inflect==5.6.0
joblib==1.1.0
librosa==0.9.1
llvmlite==0.38.0
Montreal-Forced-Aligner==2.0.0rc7
num2words==0.5.10
numba==0.55.1
numpy
packaging==21.3
pooch==1.6.0
praatio==5.1.1
protobuf==3.20.1
pycparser==2.21
pynini==2.1.5
pyparsing==3.0.9
PyYAML==6.0
requests==2.27.1
resampy==0.2.2
scikit-learn==1.1.0
scipy==1.8.0
sequitur-g2p==1.0.1668.21
six==1.16.0
SoundFile==0.10.3.post1
SQLAlchemy==1.4.36
stanza==1.0.1
textwrap3==0.9.2
threadpoolctl==3.1.0
timeout-decorator==0.5.0
torch==1.11.0
tqdm==4.64.0
typing-extensions==4.2.0
urllib3==1.26.9
